<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merci</title>
</head>
<body style="display: flex;justify-content:center;background-color:pink">


    <h1>

        MERCI,VOTRE COMMANDE A BIEN ETE ENVOYE
    </h1>
    <h2>
        NOUS ALLONS VOUS CONTACTE DANS UN TEMPS RECORD
        <button type="submit" style="background-color: blue;border-radius:30px"><a href="/">Retour</a></button>
    </h2>








    
</body>
</html>