{% extends 'index.html' %}
{% block content %}


<main class="container-fluid containere">
        <section class="row">
          {% for habit in habits %}

                <div class="card col-3 carte" >
                    <img src="{{habit.image.url}}" alt="erreur">
                    <div class="card-body">
                      <h5 class="card-title">{{habit.nom}}</h5>
                      <p class="card-text">{{habit.description}}</p>
                      <a href="#" class="btn btn-success">acheté</a>
                      <button type="button" class="btn btn-outline-info">Info</button>
                    </div>
                  </div>
                  {% endfor %}


                  </div>

        </section>

    </main>





{% endblock %}