{% extends "bas.html" %}
{% block content %}

<main class="container-fluid containere">
   <div class="titre"> <h1>Bijoux</h1></div>

  <section class="row">
    {% for bijoux in bijouxs %}

    <div class="card col-xs-6 carte" >
      <img src="{{bijoux.image.url}}" class="card-img-top" alt="card">
      <div class="card-body">
        <h5 class="card-title">{{bijoux.nom}}</h5>
        <p class="card-text">{{bijoux.description}}</p>
        <a  href="{% url 'bijoux' bijoux.id %} " class="btn btn-success">acheté</a>
         <a  href="{% url 'infodetail7' bijoux.id %} " class="btn btn-light">info</a>
      </div>
    </div>

    {% endfor %}

  </section>

</main>



<main class="container-fluid containere">
  <div class="titre">  <h1>Bijoux pour Femmes</h1></div>

  <section class="row">
    {% for bijoux_femme in bijouxs_femme %}

    <div class="card col-3 carte" >
      <img src="{{bijoux_femme.image.url}}" class="card-img-top" alt="card">
      <div class="card-body">
        <h5 class="card-title">{{bijoux_femme.nom}}</h5>
        <p class="card-text">{{bijoux_femme.description}}</p>
        <a  href="{% url 'bijoux_femme' bijoux_femme.id %} " class="btn btn-success">acheté</a>
        <a  href="{% url 'infodetail8' bijoux_femme.id %} " class="btn btn-light">info</a>
      </div>
    </div>

    {% endfor %}

  </section>

</main>



<main class="container-fluid containere">
  <div class="titre">  <h1>Bijoux pour Hommes</h1></div>

  <section class="row">
    {% for bijoux_homme in bijouxs_homme %}

    <div class="card col-3 carte" >
      <img src="{{bijoux_homme.image.url}}" class="card-img-top" alt="card">
      <div class="card-body">
        <h5 class="card-title">{{bijoux_homme.nom}}</h5>
        <p class="card-text">{{bijoux_homme.description}}</p>
        <a  href="{% url 'bijoux_homme' bijoux_homme.id  %} " class="btn btn-success">acheté</a>
         <a  href="{% url 'infodetail9' bijoux_homme.id %} " class="btn btn-light">info</a>
      </div>
    </div>

    {% endfor %}

  </section>

</main>







{% endblock content %}